*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body{
  background-color: #f0cf65;
  max-width: 100%;
  overflow-x: hidden;
}
.inactive {
  display: none;
}
#score{
  border-style: inset 5px solid;
}